body
{
  font-size: 30pt;
  background-color: #FFFFFF;
  font-weight: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  vertical-align: center;
}

paragraph{
  font-size: 3em;
}

credits{
  font-size: 10px;
}

hr4{
  vertical-align: center;
  font-size: 7em;
  font-size-adjust: center;
  text-align: right;
  font: bold;
}

hr2{
  position: relative;
  font-size: 70pt;
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
}

hr1 {
   display: table;
   position: relative;
   padding: 0;
   vertical-align: center;
   margin: 15px auto;
   height: 30px;
   width: 100%;
   max-height: 30px;
   font-size: 20pt;
   font-size-adjust: center;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #0005D7;
   border-bottom: 1px solid #0006FF;
}

hr3 {
   /*display: block;
   position: relative;
   padding: 0;*/
   vertical-align: center;
   margin: 6;
   height: 0;
   width: 60%;
   max-height: 10;
   font-size: 60pt;
   border: Menu;
   font: sans-serif;
   /*border-top: 1px solid #aaaaaa;*/
   border-bottom: 2px solid #B3B3B3;
}

div1
{
  position: relative;
  width: 100%;
  height: 30em;
  border: 0px solid #399;
  background-size: 100%;
}

div
{
  width: 88%;
  /*height: 60%;
  padding: 0px;*/
  margin-left:6%;
  margin-right:6%;
  border: 2px; solid #E7E7E7;
  margin: 5;
  font-size: 11pt;
  box-shadow: 3px 4px 6px #737373;
  font: fantasy;
  border-style: double;
  border-color: #A5A5A5;
  /*font-size: 12pt;*/
  text-align: center;
  line-stacking: 3;
}


#search
{
  width: 96%;
  height: 3em;
  margin-left:2%;
  margin-right:2%;
  margin-bottom: 2%;
  font-size: 14px;
  background: #91D2F4 no-repeat top;
  font-weight: bold;
  color: #2d525d;
}






